.hero {
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.content {
  word-wrap: break-word;
  word-break: bread-all;
}
#start-bar {
  text-align: center;
  padding-bottom: 20px;
  font-size: 16px;

  .command {
      background: rgba(0,0,0,.12);
      font-family: "Source Code Pro",Monaco,Menlo,Consolas,monospace;
      display: inline-block;
      padding: 15px 20px;
      text-decoration: none;
  }

  .user {
      color: #fff;
      background: rgb(39, 98, 127);
      display: inline-block;
      padding: 15px;
      font-family: "Source Code Pro",Monaco,Menlo,Consolas,monospace;
  }

}
.breadcrumb li:first-child a {
  padding-left: 0;
}
.inline-box {
  display: inline-block;
  margin: 0 10px 15px 0;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
#quick-start-code {
  code {
    background-color: #434659;
    color: #c2f5ff;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  }

  span.c {
    color: #86a5b1;
    font-style: italic;
  }

  span.s {
    &:before {
      content: "$ ";
    }
  }
}

#quick-start {
  a {
    color: #2196f3;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer {
  padding: 3rem 1.5rem 4rem;
  color: rgba(255,255,255,.6);
  background-color: #535353;
  font-weight: 200;

  a {
    font-weight: 400;
    color: rgba(255,255,255,.6);

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-nav {
    float: left;
  }
  .footer-nav-item {
    display: inline-block;
  }
}