.tsuyukusa {
  background: url('/img/bg.png') repeat;
}
.hero {
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .sponsor {
    display: flex;
    justify-content: center;
    align-items:center;
  }
}
.content {
  word-wrap: break-word;
  word-break: bread-all;
}
#start-bar {
  text-align: center;
  padding-bottom: 20px;
  font-size: 16px;

  .command {
      background: rgba(0,0,0,.12);
      font-family: "Source Code Pro",Monaco,Menlo,Consolas,monospace;
      display: inline-block;
      padding: 15px 20px;
      text-decoration: none;
  }

  .user {
      color: #fff;
      background: rgb(39, 98, 127);
      display: inline-block;
      padding: 15px;
      font-family: "Source Code Pro",Monaco,Menlo,Consolas,monospace;
  }

}
.breadcrumb li:first-child a {
  padding-left: 0;
}
.inline-box {
  display: inline-block;
  margin: 0 10px 15px 0;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
#quick-start-code {
  code {
    background-color: #434659;
    color: #c2f5ff;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  }

  span.c {
    color: #86a5b1;
    font-style: italic;
  }

  span.s {
    &:before {
      content: "$ ";
    }
  }
}

#quick-start {
  a {
    color: #2196f3;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer {
  padding: 3rem 1.5rem 4rem;
  color: rgba(255,255,255,.6);
  background-color: #535353;
  font-weight: 200;

  a {
    font-weight: 400;
    color: rgba(255,255,255,.6);

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-nav {
    float: left;
  }
  .footer-nav-item {
    display: inline-block;
  }
}

$barc: rgb(39, 98, 127);　

#nprogress {
  pointer-events: none;

  .bar {
    background: $barc;
  
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 2px;
  }

  .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px $barc, 0 0 5px $barc;
    opacity: 1.0;
  
    -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
            transform: rotate(3deg) translate(0px, -4px);
  }

  .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
  }

  .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  
    border: solid 2px transparent;
    border-top-color: $barc;
    border-left-color: $barc;
    border-radius: 50%;
  
    -webkit-animation: nprogress-spinner 400ms linear infinite;
            animation: nprogress-spinner 400ms linear infinite;
  }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content figure {
  padding-top: 2em;
}

$sizes: (0,10,15,20,25,30,50);
$positions: ('top','left','bottom','right');

@each $size in $sizes {
  @each $position in $positions {
    .m-#{$position}-#{$size} {
      margin-#{$position}: $size + px;
    }

    .p-#{$position}-#{$size} {
      padding-#{$position}: $size + px;
    }
  }

  .m-#{$size} {
    margin: $size + px;
  }

  .p-#{$size} {
    padding: $size + px;
  }
}